@import url("https://cdn.syncfusion.com/ej2/tailwind.css");
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.App {
  margin-top: 60px;
}

.cover-container{
  height: 70px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1999999999;
}

.header-name{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.e-de-blink-cursor {
  border-left: 1px solid red!important;
  }